
.first{
    display: flex;
    justify-content: space-around;
}
.first h1{
    color: white;
    line-height: 35px;
    letter-spacing: 2px;
    font: 1em sans-serif;
    font-size: 40px;

    
}

.first ul {
    position: absolute;
    top: 70px;
    right: 100px;
}
.first ul li{ display: inline;
    padding: 10px;

}
.first ul li a{
    text-decoration: none;
    color: white;
}
.second h1{
    text-align: center;
     margin-top: 150px;
}
.second p{
text-align: center;
}
.second button{
    position: absolute;
    right: 700px;
    padding: 10px;
    width: 200px;
    height: 50px;
    
}
.sub{
    width: 100%;
    height: 500px;
    background-color:#293f50;
    color: white;
}
table th ,td {

    
    color: green;
    border-bottom: 1px solid black;
    padding: 10px;
    letter-spacing: 1px;
line-height: 20px;
padding: 20px;
    
    
}
table{
    border-collapse: collapse;
    margin-top:200px;
    margin-left: 200px;
}th{
    text-align: justify;
}